@import '../scss/variables';
@import '../scss/mixins';

.homepageLayout {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: none;
  main {
    flex: 1;
    display: flex;
  }
  & + div {
    margin-top: 0;
  }
}
