@import '../scss/variables';
@import '../scss/buttons';
@import '../scss/mixins';

.homepageBanner {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 1;
}

.homepageBannerInner {
  width: 100%;
  max-width: $wrapper-max-width;
  min-height: 360px;
  margin: 20vh auto 0;
  height: 100%;
  padding: 0 $gutter-lg;
  @include media-breakpoint-down(sm) {
    padding: 0 $gutter;
  }
}

.banner {
  font-size: 120px;
  font-weight: 200;
  line-height: 120px;
  color: $secondary;
  margin-bottom: $gutter-lg;
  strong {
    color: $black;
  }
  @include media-breakpoint-down(sm) {
    font-size: 60px;
    line-height: 64px;
  }
  @media screen and( max-width: 350px ) {
    font-size: 48px;
  }
}

.bannerShadow {
  position: absolute;
  z-index: 2;
  color: transparent;
  opacity: 0.9;
  strong {
    color: transparent;
  }
}

.bannerInner {
  position: relative;
  z-index: 10;
}

.bannerGallery {
  position: absolute;
  z-index: 1;
}

.bannerFeature {
  margin: $gutter-lg 0 $gutter-lg + $gutter;
  position: relative;
  z-index: 10;
  .featureBtn {
    @include button($black);
  }
}
