@import '../scss/variables';
@import '../scss/buttons';
@import '../scss/mixins';

.homepageBanner {
  margin-top: 20vh;
  display: flex;
}

.homepageBannerInner {
  max-width: $wrapper-max-width;
  min-height: 320px;
  margin: 0 auto;
  height: 100%;
}

.banner {
  font-size: 120px;
  font-weight: 200;
  line-height: 120px;
  color: $secondary;
  margin-bottom: $gutter-lg;
  strong {
    color: $primary;
  }
  @include media-breakpoint-down(sm) {
    font-size: 60px;
    line-height: 64px;
  }
}

.bannerFeature {
  margin: $gutter-lg 0 $gutter-lg + $gutter;
  .featureBtn {
    @include button($black);
  }
}
