@import '../../scss/variables';

.footerWrapper {
  margin: $gutter auto 0;
  width: 100%;
  max-width: $wrapper-max-width;
}

.footer {
  margin: 0 $gutter;
  padding: $gutter;
  border-top: 1px solid $light-gray;
  display: flex;
  font-size: 18px;
}

.footerCopyright,
.footerLinks {
  margin-top: $gutter-small;
  margin-bottom: $gutter;
  font-weight: 300;
}

.footerCopyright {
  color: $secondary;
}
