@import '../../scss/variables';
@import '../../scss/mixins';
$header-height: 60px;

.headerWrapper {
  width: 100%;
  ol,
  ul {
    list-style: none;
  }
}

.siteHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $wrapper-max-width;
  margin: 0 auto;
  height: $header-height;
  padding: 0 $gutter-lg;

  a {
    text-decoration: none;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 $gutter;
  }
}

.headerBrand {
  .headerTitle {
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    margin: 0;
  }
}

.headerNavMainWrapper {
  font-weight: 300;
  font-size: 18px;
  li {
    display: block;
  }
  .headerNavMain {
    margin: 0;
    padding: 0;
    display: flex;
  }
  .headerNavItem {
    margin-left: $gutter;
    margin-top: 2px;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid $primary;
    }
    a:hover {
      text-decoration: none;
    }
  }
}
