@import '../../scss/variables';
@import '../../scss/buttons';

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.paginationBtnWrapper + .paginationBtnWrapper {
  margin-left: $gutter;
}

.paginationBtn {
  @include button-light($black);
  &.main {
    @include button($black);
  }
}
